<section class="title">
    <div class="container">
        <h1>BIM Cost Calculator</h1>
        <p class="mb-2">
            BIM Cost Calculator is a web costing application for users to compute how much BIM Projects will cost specifically in 2D/3D 
            modelling ang coordination.
        </p>

        <button routerLink="/input" class="btn-outline hover-white">Try it now!</button>
        <div class="blue-box light blue-box-1"></div>
    </div>

    <div class="ellipse light-blue"></div>
</section>

<section class="how-it-works">
    <div class="container">
        <div class="row between-md bottom-md">
            <div class="col-md-4 col-xs-12">
                <h2 class="blue">
                    How it works?
                </h2>

                <p class="dark-blue">
                    BIM Cost Calculator works in 5 simple steps as follows:
                </p>
            </div>

            <div class="col-md-5 col-xs-12">
                <div class="image-holder">
                    <img src="../../../assets/header-pic.jpg" alt="">
                    <div class="blue-box blue-box-1"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cards">
    <div class="container">
        <div class="row center-xs">
            <div class="card-holder col-xs-12 col-md-4">
                <div class="card">
                    <h2>Step 1</h2>
                    <img src="../../../assets/sample-icon.png" width="55px" alt="">

                    <h4 class="blue">Input Project Information</h4>

                    <p class="dark-blue">
                        Provide details for project type, project floor area and project location.
                    </p>
                </div>
            </div>
            <div class="card-holder col-xs-12 col-md-4">
                <div class="card">
                    <h2>Step 2</h2>
                    <img src="../../../assets/sample-icon-1.svg" alt="">

                    <h4 class="blue">Set Calculation Parameters</h4>

                    <p class="dark-blue">
                        Input value for necessary calculation parameters.
                    </p>
                </div>
            </div>
            <div class="card-holder col-xs-12 col-md-4">
                <div class="card">
                    <h2>Step 3</h2>
                    <img src="../../../assets/flexible.png" alt="">

                    <h4 class="blue">Scope of Works</h4>

                    <p class="dark-blue">
                        Specify the scope of works to be applied in your project.
                    </p>
                </div>
            </div>
            <div class="card-holder col-xs-12 col-md-4">
                <div class="card">
                    <h2>Step 4</h2>
                    <img src="../../../assets/teamwork.png" alt="">

                    <h4 class="blue">Client Information</h4>

                    <p class="dark-blue">
                        Provide details for client information.
                    </p>
                </div>
            </div>
            <div class="card-holder col-xs-12 col-md-4">
                <div class="card">
                    <h2>Step 5</h2>
                    <img src="../../../assets/sample-icon-2.svg" alt="">

                    <h4 class="blue">Get the Results!</h4>

                    <p class="dark-blue">
                        Show your total calculation and the full summary
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="text">
    <div class="container">
        <h2>
            Try it now!
        </h2>
        <button routerLink="/input" class="btn-outline hover-white">Start BIM Calculator</button>

        <div class="blue-box purple blue-box-1"></div>
        <div class="blue-box purple blue-box-2"></div>
    </div>
</section>