<div class="input">
    <div class="row justify-center">
        <div class="col-xs-12 col-md-8 position-relative">
            <div class="fields">
                <form [formGroup]="costForm" (ngSubmit)="submit(costForm)">

                    <div *ngIf="steps == 1" class="input-params">
                        <h2>Calculation Parameters</h2>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <label for="">Softwares</label>
                                <div class="d-flex">
                                    <input formControlName="revit" type="checkbox" id="revit" name="revit" value="1">
                                    <div>
                                        <span for="revit">Autodesk Revit Software & License</span><br>
                                        <div class="currency-input">
                                            <input formControlName="revit_input" type="number">
                                            <span class="rate">per month</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="d-flex">
                                    <input formControlName="cad" type="checkbox" id="cad" name="cad">
                                    <div>
                                        <span for="cad">Autodesk AutoCad Software & License</span><br>
                                        <div class="currency-input">
                                            <input formControlName="cad_input" type="number">
                                            <span class="rate">per month</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="d-flex">
                                    <input formControlName="data_env" type="checkbox" id="data_env" name="data_env">
                                    <div>
                                        <span for="data_env">Common Data Environment CDE: BIM 360</span><br>
                                        <div class="currency-input">
                                            <input formControlName="data_env_input" type="number">
                                            <span class="rate">per month</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <input formControlName="navis" type="checkbox" id="navis" name="navis">
                                    <div>
                                        <span for="navis">Autodesk Navisworks Software & License</span><br>
                                        <div class="currency-input">
                                            <input formControlName="navis_input" type="number">
                                            <span class="rate">per month</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="">Laptop/Computer</label>
                                <div class="currency-input">
                                    <input formControlName="laptop" type="number">
                                    <span class="rate">per unit</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="">BIM Manager</label>
                                <div class="currency-input">
                                    <input formControlName="manager" type="number">
                                    <span class="rate">per month</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="">BIM Coordinator</label>
                                <div class="currency-input">
                                    <input formControlName="coordinator" type="number">
                                    <span class="rate">per month</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="">BIM Modeler</label>
                                <div class="currency-input">
                                    <input formControlName="modeler" type="number">
                                    <span class="rate">per month</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="steps == 2" class="project-information">
                        <h2>Project Information</h2>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <label for="">Project Type*</label>
                                <select formControlName="project_type" name="" id="">
                                    <option value="" hidden>Select</option>
                                    <option *ngFor="let opt of options.project_type" [ngValue]="opt">{{opt.text}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="">Project Floor Area (SQ.M)*</label>
                                <input formControlName="project_floor_area" type="number"
                                    placeholder="Enter total area">
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="">Project Location</label>
                                <input formControlName="project_location" type="text"
                                    placeholder="Enter project location">
                            </div>
                        </div>
                    </div>

                    <div *ngIf="steps == 3" class="work-scope">
                        <h2>Scope of Work</h2>

                        <h3>3D BIM Modelling and coordination services</h3>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <label for="">Architecture*</label>
                                <select formControlName="architecture" name="" id="">
                                    <option value="" hidden>Select</option>
                                    <option *ngFor="let opt of options.works" [ngValue]="opt">{{opt.text}}</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="">Structure*</label>
                                <select formControlName="structure" name="" id="">
                                    <option value="" hidden>Select</option>
                                    <option *ngFor="let opt of options.works" [ngValue]="opt">{{opt.text}}</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="">MEPFS*</label>
                                <select formControlName="mepfs" name="" id="">
                                    <option value="" hidden>Select</option>
                                    <option *ngFor="let opt of options.works" [ngValue]="opt">{{opt.text}}</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="">Drawing Production*</label>
                                <select formControlName="drawing_production" name="" id="">
                                    <option value="" hidden>Select</option>
                                    <option *ngFor="let opt of options.drawing_production" [ngValue]="opt">
                                        {{opt.text}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="steps == 4" class="client-information">
                        <h2>Client Information</h2>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <label for="">Full Name/Company Name*</label>
                                <input formControlName="full_name" type="text">
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="">Contact Number*</label>
                                <input formControlName="contact_number" type="text">
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="">Email Address*</label>
                                <input formControlName="email" type="text">
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="">Address*</label>
                                <input formControlName="address" type="text">
                            </div>
                        </div>

                    </div>

                    <div class="foot">
                        <button type="button" class="back" (click)="back()" [disabled]="steps == 1">Back</button>
                        <button type="button" (click)="next()" *ngIf="steps != 4">Next</button>
                        <button type="submit" *ngIf="steps == 4">Calculate</button>
                    </div>

                </form>

            </div>

            <span *ngIf="showFooterError" class="footer-error">
                Please complete the details above.
            </span>
        </div>
        <div class="col-xs-12 col-md-4 partial-container" [ngClass]="{hidden : !submitted}">
            <div class="partial-result">
                <p>Your total payment will be</p>
                <h1>
                    <span class="peso">₱</span>
                    {{totalPayment | number : '5.2-2'}}
                </h1>

                <button (click)="showFullSummary()">Show Summary</button>
            </div>
        </div>
    </div>
</div>