.input {
    padding: 3rem 10rem;
}

.justify-center {
    justify-content: center;
}

.d-flex {
    display: flex;
}

.fields {
    max-height: calc(100vh - 20.5rem);
    min-height: calc(100vh - 20.5rem);
    overflow-y: auto;
    overflow-x: hidden;

    position: relative;

    /* width */
    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 100%;
        padding: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: white;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }


    h2 {
        font-size: 2.3rem;
        font-weight: 600;
        margin: 0;
        margin-bottom: 1rem;
    }

    background-color: #fff;
    border-radius: 2rem;
    padding: 3rem 2.5rem 0 2.5rem;

    button {
        padding: 0 4rem;
        height: 5rem;
        font-size: 1.7rem;
        color: white;
        border: none;
        outline: none;
        border-radius: .8rem;
        cursor: pointer;
        margin: auto;
        display: block;
        margin-top: 4rem;
        background-image: linear-gradient(240deg, #4b8dea, #006aff);

        &:hover {
            background: #006aff;
        }
    }

    .foot {
        position: sticky;
        bottom: 0rem;
        right: 0;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        background: white;
        padding-bottom: 3rem;

        button {
            transform: scale(.8);
            text-transform: uppercase;

            &.back {
                background: white;
                color: #006aff;
                border: 1px solid #006aff;
            }

            &:disabled {
                cursor: not-allowed;
                filter: grayscale(1);
            }
        }
    }
}

.input-params {
    .d-flex {
        align-items: center;
        margin-bottom: 1rem;
    }

    input[type="checkbox"] {
        margin-right: 2rem;
        width: 1.8rem;
        height: 1.8rem;
        cursor: pointer;

        &+span {
            font-size: 1.4rem;
        }
    }

    .currency-input {
        position: relative;
        width: 30rem;
        display: flex;
        margin-top: .5rem;

        input {
            padding-left: 5rem;
            padding-right: 10rem;
        }

        &::before {
            position: absolute;
            content: '₱';
            display: flex;
            align-items: center;
            justify-content: center;
            height: calc(100% - 2px);
            background-color: #bbbbbb;
            width: 4rem;
            border-radius: .6rem 0 0 .6rem;
            left: 1px;
            top: 1px;
            font-size: 1.5rem;
            font-weight: 500;
            color: #555;
        }

        .rate {
            position: absolute;
            right: 1rem;
            display: flex;
            align-items: center;
            height: 100%;
        }
    }
}

.footer-error {
    position: absolute;
    bottom: 12rem;
    text-align: center;
    color: red;
    width: 96%;
}

.position-relative {
    position: relative;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.input-params,
.project-information {
    margin-top: 4.5rem;
}

.project-information,
.work-scope,
.client-information {
    height: 41rem;
}

.work-scope,
.client-information {
    margin-top: 4.5rem;

    h3 {
        margin: 0;
        margin-top: 2rem;
        font-size: 1.8rem;
        font-weight: 500;
        transform: translateY(1rem);
    }
}

input[type="text"],
input[type="number"],
select {
    border: 1px solid #bbbbbb;
    height: 4.5rem;
    padding: 0 1.5rem;
    border-radius: .8rem;
    font-size: 1.5rem;
    outline: none;
    width: 100%;
    box-sizing: border-box;

    &:focus {
        outline: 1.5px solid #006aff;
    }
}

select {
    padding-right: 3rem;
    appearance: none !important;
    -webkit-appearance: none !important;
    background: url(../../../assets/chevron-down.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: calc(100% - 1.5rem);
}

label {
    display: block;
    font-size: 1.5rem;
    margin: 3rem 0 1.5rem;
    font-weight: 500;
}

form.ng-submitted {

    input.ng-invalid,
    select.ng-invalid {
        border: 1px solid red;
    }
}

.partial-container {

    transition: all .5s ease;
    overflow: hidden;

    &.hidden {
        max-width: 0;

        .partial-result {
            opacity: 0;
        }
    }

    .partial-result {
        max-height: calc(100vh - 14.5rem);
        min-height: calc(100vh - 14.5rem);
        width: 100%;
        box-sizing: border-box;
        position: sticky;
        top: 11rem;
        background-image: linear-gradient(240deg, #4b8dea, #006aff);
        background-image: #006aff;
        color: white;
        border-radius: 2rem;
        padding: 3rem 2.5rem;

        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;


        p {
            margin: 0;
            margin-bottom: .5rem;
            font-weight: 300;
        }

        h1 {
            margin: 0;
            font-size: 4rem;
        }

        button {
            padding: 0 4rem;
            height: 5rem;
            font-size: 1.7rem;
            color: #006aff;
            border: none;
            outline: none;
            border-radius: .8rem;
            cursor: pointer;
            margin-top: 4rem;
            background-color: white;
            font-weight: 500;

            &:hover {
                background-color: #f2f2f2;
            }
        }
    }
}

@media (max-width: 500px) {
    .input {
        padding: 3rem 3rem;
    }

    .partial-result {
        margin-top: 3rem;
    }

    .work-scope,
    .client-information {
        padding-bottom: 12rem;
    }
}